<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees Home</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
    <div class="m-3 text-center">
        <h1>Employees Page</h1>
        <p>This is Employees Page</p>
        <hr/>
        <div class="container">
            <p id="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum laborum autem dolorum error ea mollitia ullam, delectus molestiae, quas similique laudantium dolorem sint aspernatur officia nisi, vero distinctio et id laboriosam. Voluptas qui nostrum ex tempore sunt officia? Cupiditate libero error, natus maiores incidunt tenetur magnam animi odio exercitationem ab corporis distinctio repellat vel eum officia numquam est dolor nihil ea id? Sequi veritatis temporibus quasi sit voluptas, dolores officia ad fugit provident adipisci, magni voluptatem laudantium amet dolorum architecto aliquam voluptates accusantium error sint ut accusamus? Totam omnis voluptatem exercitationem similique impedit in deleniti fugit maiores sed consequuntur ad mollitia magnam, vero iusto ratione delectus odit labore adipisci accusantium quas quasi fuga id incidunt? Asperiores minima dolorum repellendus reiciendis beatae quia et ipsum hic id molestiae laboriosam illo doloremque qui officia repudiandae quae sequi, rerum labore repellat. Placeat ea doloribus tempora molestias velit sed. Odit velit atque vel similique saepe quo. Explicabo, asperiores aliquid fugit quo, tempore tempora molestias sequi, unde accusantium dolorum exercitationem magni officiis veniam? Nobis aspernatur at dolorum nihil sit dolor, praesentium rerum nesciunt voluptates quidem quod ipsa natus tempora similique, ex voluptas harum assumenda perspiciatis totam earum cumque. Dicta, nesciunt dignissimos. Cupiditate dolorem placeat officiis?</p>
        </div>
        <hr/>
    </div>
    <div class="container text-center">
        <a href="/" class="btn btn-primary">Home</a>
        <a href="/employees" class="btn btn-primary">Employee</a>
        <a href="/employers" class="btn btn-primary">Employer</a>
        <a href="/jobs" class="btn btn-primary">Jobs</a>
    </div>

    <div class="container mt-4 mb-4 text-center">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Job</th>
                    <th>Age</th>
                    <th>City</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% employees.forEach (employee=> { %>
                    <tr>
                        <td><%= employee.id%></td>
                        <td><%= employee.name%></td>
                        <td><%= employee.job%></td>
                        <td><%= employee.age%></td>
                        <td><%= employee.city%></td>
                        <td>
                            <div>
                                <a href="/employees/update/ <%= employee.id%>" class="btn btn-primary">Update Data</a>
                                <a href="/employees/delete/ <%= employee.id%>" class="btn btn-danger">Delete Data</a>
                            </div>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <div class="m-3 text-center">
        <a href="/employees/create" class="btn btn-primary btn-lg">Add Data</a>
    </div>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>